
/*弹框样式*/
/* .ygdialog {width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);position: fixed;z-index: 10;top: 0;left: 0}
.ygdialog .modal_title{width: 100%;height: 0.8rem;line-height: 1rem;text-align: center;position: relative;font-size: 0.4rem;}
ygdialog .modal_title .closbtn{ position:absolute;right:0.3rem;top:-0.15rem; color:#999} */

/*通用区*/
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;} /*去iso自加样式*/
input::-webkit-input-placeholder{color:#ccc;}
html,body{height:100%}
body{background-color: #f0f0f0;}
em,i{font-style: normal}
.fixedfot{position:fixed;left:0;right:0;bottom:0}
.notline:before {content: " ";position: absolute;left: 0;top: 0;right: 0;height: 1px;border-top: 1px solid #fff;color: #e5e5e5;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(.5);transform: scaleY(.5);left: 15px;z-index: 2;}

/*字体设置区*/
* {font-family: Helvetica !important;}

/*字体大小区*/
.fz-05{font-size: 0.5rem;}
.fz-035{font-size: 0.35rem;}
.fz-04{font-size: 0.4rem;}
.fz-05{font-size: 0.5rem;}

/*字体颜色设置区*/
.fc-red{color:#f00} /*红色*/
.fc-white{color:#fff} /*白色*/
.fc-gray{color:gray} /*灰色*/
.fc-8{color:#888888}
.fc-69{color:#696969}
.fc-68{color:#686868}
.fc-dark{color:#000}
.fc-919{color:#919b9a}
.fc-f86{color:#f86d5a}
.fc-333{color:#333}

/*背景颜色区*/
.bgc-FF6021 {background-color: #FF6021;}
.bgc-white{background: #fff}
.bgc-ap{background-color: rgba(0, 0, 0, 0) !important;}
.bgc-1BC4B6{background-color: #1BC4B6}  /*登录按钮色*/
.bgc-f0{background-color: #f0f0f0}
.bgc-dark{background:#000}
.bgc-ccc{background: #ccc}

/*宽高设置区*/
.wh-p100{width:100%;height:100%}
.max-w-p60{max-width:60%}
.w-p60{width:60%}
.w-p80{width:80%}
.w-p90{width:90%}
.w-p95{width:95%}
.w-p100{width:100%}
.w-02{width:0.2rem}
.w-03{width:0.3rem}
.w-04{width:0.4rem}
.w-05{width:0.5rem}
.w-06{width:0.6rem}
.w-08{width:0.8rem}
.w-1{width:1rem}
.w-1d1{width:1.1rem}
.w-2d2{width:2.2rem}

.min-h-05{min-height:0.5rem;}
.h-05{height:0.5rem}
.h-1{height:1rem}
.h-1d1{height:1.1rem}
.h-1d2{height:1.2rem}
.h-1d95{height:1.95rem}

/* 行高 */
.lh-05{line-height:05rem;}

/*边角区*/
.bdr-06{border-radius: 0.6rem}
.bdr-005{border-radius: 0.05rem}
.bdr-015{border-radius: 0.15rem}
.bdr-p50{border-radius: 50%}

/*内边距*/
.pall-01{padding: 0.1rem}
.pall-02{padding: 0.2rem}
.pall-03{padding: 0.3rem}
.pl-01{padding-left: 0.1rem}
.pl-015{padding-left: 0.15rem}
.pl-02{padding-left: 0.2rem}
.pl-03{padding-left: 0.3rem}
.pr-02{padding-right:0.2rem}
.pb-02{padding-bottom:0.2rem}
.pb-0{padding-top:0}
.ptb-01{padding:0.1rem 15px}

/*外边距*/
.ma-auto{margin: auto}
.mt-015{margin-top:1.5rem}
.mr-01{margin-right:0.1rem}
.mr-015{margin-right:0.15rem}
.mr-02{margin-right:0.2rem}
.mr-03{margin-right:0.3rem}
.mr-04{margin-right:0.4rem}
.mr-05{margin-right:0.5rem}
.mb-01{margin-bottom:0.1rem;}
.mb-02{margin-bottom:0.2rem;}
.mb-05{margin-bottom:0.5rem;}
.mt-05{margin-top:0.5rem;}

/*边线区*/
.tline{border-top:solid 1px #f0f0f0}
.bline{border-bottom:solid 1px #f0f0f0}

/*对齐*/
.val-mid{vertical-align: middle}

/* 水平对齐 */
.tex-r{text-align: right}
.tex-l{text-align: left}
.tex-c{text-align: center}

/*显示方式*/
.dsp-abs{position: absolute}
.dsp-rela{position: relative}

/* 布局方式 */
.flex{display:flex}
.flex-sb{display:flex;justify-content: space-between}
.flex-fe{display: flex;justify-content: flex-end}
.flex-1{flex:1}
.flex-dc{flex-direction: column}